{% extends "layout.html" %} {% block title %} Log In {% endblock %} {% block main %}
<div class="container-fluid">
    <div class="row">

        <div class="col">
            <form action="/bulk" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <input class="form-control-file" name="file1" type="file">
                </div>

        </div>
        <button class="btn btn-primary" type="submit">Bulk Search!</button>
        </form>
    </div>

</div>
<div class="text-center">Example of how the uploaded file must look like: <a href="https://drive.google.com/file/d/19vaX6YLWc5HbqKarGYzMg3rulCVywegj/view?usp=sharing" class="text-decoration-none">Download File</a></div>
</div>
{% endblock %}